*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 5rem auto;
    max-width: 40vw;
    max-height: 70vh;
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0;
    border: solid black 0.5px;
}
.grid{
    width: 16px;
    height: 16px;
    border: solid black 1px;
    margin: 0;
}
