*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 5rem auto;
    width: 500px;
    height: 500px;
    /* background-color: red; */
    display: grid;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(16,1fr);
    justify-content: center;
    align-items: center;
    gap: 0;
    border: solid rgb(0, 0, 0) 0.5px;
}
.grid{
    width: 31.2px;
    height: 31.2px;
    border: solid black 1px;
    margin: 0;
}
